{% extends "lab_8/layout/base.html" %}

{% block content %}

	 <div id="button">
        {%load static%}
        <button class = "btn btn-primary" onclick="facebookLogin()" >Login with Facebook &nbsp;<img src="{%static "unnamed.png"%}"></button>      
    </div>

    
{% endblock %}