{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }
    body{
        background: url("index.jpg") ;
        background-size: cover;
    }

    p{
        border: 3px solid #00cc99 ;
        padding: 15px;
    }
</style>

<div class="center_screen" id = "hello">
    <p class="status" id="test">Hello, this is {{ name }}. {{ content }}.</p>
</div>
{% endblock %}