<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>

    <div id = "awal" class="bg-faded">
        <h1 id="head">#FIRST PPW PROJECT</h1>
    </div>
    <div id="tengah">
        <h1>Hello my name is {{ name }}</h1>
	    <article>I'am {{ age }} years old</article>

    </div>


</body>

<style>
    body{
        background-color: #10eddd;
        color: white;
    }
    #awal{
        padding-top: 1px;
        margin-top: 5px;
        background-color: black;
        height: 90px;
        background-size: 500px;
        font-size: 15px;
        font-family: Righteous;
    }
    h1#head{
        padding-top: 7px;
        padding-left: 20px;
    }
    #tengah{
        text-align: center;
        color: #2e5052;
        text-decoration: underline;
    }

</style>
</html>
