{%load static%}

body{
	background-image: url("/static/2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.btn-primary{
	margin-left: 38%;
	margin-top: 20%;
	height: 100px;
	width: 400px;
	border-radius: 30px;
	background-color: transparent;
	border-width: 5px;
	font-family: "Nasalization";
	color: #0066cc;
	transition: color 0.5s ease-in-out, background 0.5s ease-in-out;
	font-size: 20px;
}

img{

	height: 24px;
	width: 24px;
}

img#picture{
	height: 512px;
	width: 512px;
}

@media only screen and (max-width: 480px){

	.btn-primary{
		width: 250px;
		height: 100px;
		margin-left: 15%;
		font-size: 15px;
		margin-top: 80%;
		margin-bottom: 20%;
		border-width: 3.6px;
		position: fixed;

	}
	body{
		background-repeat: no-repeat;
		background-size: 1200px 800px;

		

	}
}